<template>
    <div>
        <p>{{ message }}</p>
        <button class="btn btn-primary" @click="reverseMessage">Reverse Message</button>
    </div>
</template>

<script>
    export default {
        data() {
        	return {
        		message: 'Hellow World'
        	}
        },
        methods: {
            reverseMessage: function () {
              this.message = this.message.split('').reverse().join('');
            }
        }

    }
</script>
